@reference "tailwindcss";
.wrapper {
  @apply flex h-full w-full items-center justify-between pb-1 pr-2 pl-2;

  & .actions {
    @apply flex h-full items-center justify-end;

    & .rulesDropdown {
      @apply h-8 w-32;
      max-width: unset;
    }

    & .updateClashProxiesButton {
      @apply ml-4;
    }

    & .addButton {
      @apply mx-4;
    }

    & .testButton {
      @apply mr-8;
    }
  }

  & .tag {
    @apply ml-4;
  }
}
