@reference "tailwindcss";
.wrapper {
  @apply w-full py-4 px-2;

  & .title {
    @apply mb-3;
  }

  & .section {
    @apply mb-10;
  }

  & .card {
    @apply mb-2;

    & .cardItem {
      @apply mb-4 flex w-full items-center justify-between;

      & .desc {
        @apply flex flex-col;
      }

      & .actionBtn {
        @apply ml-2 mb-2 sm:mb-0;
      }
    }
  }

  & .selector {
    @apply min-w-[120px];
  }
}

.dialogBody {
  @apply flex flex-col;
}
