.JcdfO1H50kj8oEbSY7Ck {
    display: flex;
    height: 100%;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem
}
  .JcdfO1H50kj8oEbSY7Ck .Us65ljTAlrbeCdr5Tt5n {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem
}
  .JcdfO1H50kj8oEbSY7Ck ._kcFrxuFCvHC5VbPmZVr {
    margin-top: 1rem;
    display: block
}

