.qUcM_pkMXXwP3CXNk7vO .eCMWwZM_cGRIwMgwe588 {
    display: inline-block;
    min-width: 32px;
    font-size: 1.5rem;
    line-height: 2rem
}
  .qUcM_pkMXXwP3CXNk7vO .pu_RHFEARmDvTpgpAh05 {
    margin-left: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem
}

.eyXUZmsBZIxwtXnHsay9 {

    display: flex;

    flex: 1 1 0%;

    justify-content: space-between;

    padding-left: 1rem;

    padding-right: 1rem
}

    .eyXUZmsBZIxwtXnHsay9 .cm0lHbgxxVvr_XmtleRN {

    display: flex;

    flex: 1 1 0%;

    flex-direction: column;

    justify-content: space-between
}

    .eyXUZmsBZIxwtXnHsay9 .cm0lHbgxxVvr_XmtleRN .QEh29M3Qwm0tIbYVfBVw {

    margin-bottom: 0.5rem;

    display: flex;

    justify-content: space-between;

    --tw-text-opacity: 1;

    color: rgba(156, 163, 175, var(--tw-text-opacity))
}

    .eyXUZmsBZIxwtXnHsay9 .cm0lHbgxxVvr_XmtleRN .XJVlwhezTUsvNfM6y8sP {

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    font-size: 1.25rem;

    line-height: 1.75rem
}

    .eyXUZmsBZIxwtXnHsay9 .cm0lHbgxxVvr_XmtleRN .XJVlwhezTUsvNfM6y8sP .nmqwdX0uvbGKvkEoZabz {

    display: flex;

    flex: 1 1 0%;

    align-items: center
}

    .eyXUZmsBZIxwtXnHsay9 .cm0lHbgxxVvr_XmtleRN .XJVlwhezTUsvNfM6y8sP .nmqwdX0uvbGKvkEoZabz svg {

    position: relative;

    bottom: -0.25rem;

    margin-right: 0.25rem;

    --tw-scale-x: .75;

    --tw-scale-y: .75;

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    fill: currentColor;

    --tw-text-opacity: 1;

    color: rgba(156, 163, 175, var(--tw-text-opacity))
}

.HmbBwnK3PrJIW3gAwlz0 {

    display: flex;

    width: 100%;

    flex: 1 1 0%;

    flex-direction: column;

    padding: 1rem
}

  .HmbBwnK3PrJIW3gAwlz0:not(:last-child) {

    margin-bottom: 1rem
}

  .HmbBwnK3PrJIW3gAwlz0 .a8ZeJUL96xHoQmDi7XEx {

    margin-bottom: 1rem;

    display: flex;

    justify-content: space-between
}

  .HmbBwnK3PrJIW3gAwlz0 .a8ZeJUL96xHoQmDi7XEx .SUb4mqYBdlSF1qupIejc {

    margin-left: 1rem;

    margin-right: 1rem;

    border-width: 0px;

    border-right-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgba(209, 213, 219, var(--tw-border-opacity))
}

  .HmbBwnK3PrJIW3gAwlz0 .a8ZeJUL96xHoQmDi7XEx .OETkpQIEhj9F7lYGCt7s {

    flex: 1 1 0%
}

  .HmbBwnK3PrJIW3gAwlz0 .a8ZeJUL96xHoQmDi7XEx .OETkpQIEhj9F7lYGCt7s .RiT45L8RaPnD66UHDw6R {

    margin-bottom: 0.5rem;

    display: flex;

    align-items: center;

    font-size: 1.125rem;

    line-height: 1.75rem
}

  .HmbBwnK3PrJIW3gAwlz0 .a8ZeJUL96xHoQmDi7XEx .OETkpQIEhj9F7lYGCt7s .RiT45L8RaPnD66UHDw6R .IqJIQFBuRz4pid7zFIT5 {

    font-weight: 700
}

  .HmbBwnK3PrJIW3gAwlz0 .a8ZeJUL96xHoQmDi7XEx .YvGNEemJlTN5gk4Ncg7B {

    display: flex;

    width: 100%;

    justify-content: space-between
}

  .HmbBwnK3PrJIW3gAwlz0 .qX9fDnNv5OV1rqN6KsSF {

    height: 50%;

    width: 100%
}

.KtQJzVy0cosXbdLl344w {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem
}

