.SJMxzKRr7N62D3KB6Sne {

    width: 100%;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem
}

    .SJMxzKRr7N62D3KB6Sne .rekJZvLwH00NFiU6fbzw {

    margin-bottom: 1.5rem
}

    .SJMxzKRr7N62D3KB6Sne .rekJZvLwH00NFiU6fbzw .N1ve16uBn115AhRzarow {

    margin-bottom: 1rem;

    display: flex;

    width: 100%;

    align-items: center;

    justify-content: space-between
}

    .SJMxzKRr7N62D3KB6Sne .rekJZvLwH00NFiU6fbzw .N1ve16uBn115AhRzarow .gnAOVfuPFUyVgmdDazlw {

    display: flex;

    flex-direction: column
}


.jC1F71tG1dEoIzD76JpS {

    display: flex;

    flex-direction: column
}
.lFG_WoDfEIgQvRkXcOmS {

    display: flex;

    flex-direction: column
}

    .lFG_WoDfEIgQvRkXcOmS .rBla49LhNu6gIwxvMT_n {

    margin-bottom: 1rem
}

    .lFG_WoDfEIgQvRkXcOmS .FEJeJQRYUXZlPqhOyAaO {

    margin-bottom: 1rem;

    display: flex
}

    .lFG_WoDfEIgQvRkXcOmS .FEJeJQRYUXZlPqhOyAaO .c74rIVScKCjaGBukPGvA {

    width: 100%
}

    .lFG_WoDfEIgQvRkXcOmS .FEJeJQRYUXZlPqhOyAaO .FJUv7Ij4LUOJMmJyfqkc {

    margin-left: 1rem
}


