.XFGD1xOTrQz8DCwEfFsk {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      overflow: hidden;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
}
  .XFGD1xOTrQz8DCwEfFsk .WXQistVFJ3ZOLrduhMcC {
      margin-bottom: 0.5rem;
      display: flex;
      width: 100%;
}
  .XFGD1xOTrQz8DCwEfFsk .WXQistVFJ3ZOLrduhMcC .jxqdPsRcL6cJWawW1uVQ {
      display: none;
    }
  .XFGD1xOTrQz8DCwEfFsk .WXQistVFJ3ZOLrduhMcC .OzyGGxDTvJbDGK4AvNJF {
      width: 24rem;
}
  .XFGD1xOTrQz8DCwEfFsk .D7XSPjwUXkIYqkI9LyMO {
      overflow: hidden;
      text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

