.fc7i8GxZh0DJwsVya8Mg {
    display: flex;
    flex-direction: column
}
  .fc7i8GxZh0DJwsVya8Mg .sbT_Ck31IMRIm4sDHzzC {
    display: flex;
    justify-content: flex-end
}

._jxFHzWQ1QK7uvdlY4Eg {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  ._jxFHzWQ1QK7uvdlY4Eg .WpE60ohDCUbAKaDbmFHn {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  ._jxFHzWQ1QK7uvdlY4Eg .WpE60ohDCUbAKaDbmFHn:first-child {
    margin-right: 1rem
}

.YhCg7rXwwVAqg9p8r2Wp {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .YhCg7rXwwVAqg9p8r2Wp .ZVnaTKiqCRbdqkAI2Vqc {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .YhCg7rXwwVAqg9p8r2Wp .ZVnaTKiqCRbdqkAI2Vqc:first-child {
    margin-right: 1rem
}

.W87ztnDltrZPsxnteNby {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .W87ztnDltrZPsxnteNby .Kdjbp9VNQ0xf6N7uAOn0 {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .W87ztnDltrZPsxnteNby .Kdjbp9VNQ0xf6N7uAOn0:first-child {
    margin-right: 1rem
}

.vTmYQQ0Q488XTSn0K1YV {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .vTmYQQ0Q488XTSn0K1YV .rdbgie2b6RHP06Umsbsc {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .vTmYQQ0Q488XTSn0K1YV .rdbgie2b6RHP06Umsbsc:first-child {
    margin-right: 1rem
}

.b6woHBXXh04x6IZZMwUK {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .b6woHBXXh04x6IZZMwUK .depV83cT8mYb2q91Mo0B {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .b6woHBXXh04x6IZZMwUK .depV83cT8mYb2q91Mo0B:first-child {
    margin-right: 1rem
}

.QfsPUqfeix9xdpuAuSJS {
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
    flex-direction: column
}
.ElwMW6hrlLuaVSUjtxwt .U4xUKgW5M5IRCOSz9_hm {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
    .ElwMW6hrlLuaVSUjtxwt .U4xUKgW5M5IRCOSz9_hm .tzqHnEDOjmhlBbjwIFzw {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
    .ElwMW6hrlLuaVSUjtxwt .U4xUKgW5M5IRCOSz9_hm .tzqHnEDOjmhlBbjwIFzw:first-child {
    margin-right: 1rem
}
  .ElwMW6hrlLuaVSUjtxwt ._bxNNeLHFuCoEad9myrz {
    width: 8rem
}

.uHP_irHQTH8fOAUM2my7 {
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
    flex-direction: column
}
.DhMFgsNQvw212v8UMvHQ {

    margin-bottom: 0.5rem;

    margin-top: 0.5rem;

    display: flex
}

.DhMFgsNQvw212v8UMvHQ .fztLAHNDAJnFI7_46A5F {

    margin-right: 0.5rem;

    width: 100%
}

.N1pBW1_Nqp3cZv1ltzHV {

    display: flex;

    height: 2rem;

    align-items: center
}

.N1pBW1_Nqp3cZv1ltzHV .gWreHavz1hOU_S1Neg8w {

    margin-right: 1rem;

    display: flex;

    align-items: center;

    justify-content: center
}

._pLuM_0PnYLcbe8PHg7A {

    display: flex;

    height: 100%;

    width: 100%;

    align-items: center;

    justify-content: flex-end;

    padding-bottom: 1rem
}

  ._pLuM_0PnYLcbe8PHg7A .FTbxmSTy96L7qYH8xuM1 {

    margin-right: 2rem;

    width: 9rem
}

  ._pLuM_0PnYLcbe8PHg7A .piSwzAby47fAeOEA5Q0g {

    margin-left: 1rem;

    margin-right: 1rem
}

  ._pLuM_0PnYLcbe8PHg7A .XWP48OEcvsGQDG3hYbRY {

    margin-right: 2rem
}

.k1HZKn1bSTUR5nYMNp06 {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto
}
  .k1HZKn1bSTUR5nYMNp06 .Av58K3lA51dWsLj7LjYr {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4rem;
    width: 100%
}
  .k1HZKn1bSTUR5nYMNp06 .Y0I7lcchDwrOly80EPdj {
    height: 100%;
    width: 100%;
    padding-top: 4rem
}

.gatdnnPpP7Yhcb44Exxm {
    display: flex;
    justify-content: center
}

.URmi_cBpMTc8Lodd5w6c{
  overflow: hidden;
}

.y8JCx5lYXYpp1O2byJ0s{
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.QHf4RMMYvAFBQU9B38gm{
  --tw-text-opacity: 1;
  color: rgba(234, 179, 8, var(--tw-text-opacity));
}

.JoVE7pt2d1ECmLWKGQD9{
  --tw-text-opacity: 1;
  color: rgba(34, 197, 94, var(--tw-text-opacity));
}

@keyframes zepZulr_OwcwKsyrnSKJ{

  to{
    transform: rotate(360deg);
  }
}

.Up6Hgrd4v_wWpjeTKaoC{
  animation: zepZulr_OwcwKsyrnSKJ 1s linear infinite;
}

.xYI9nE68TXnRVPErO6TU {

    display: flex;

    height: 100%;

    flex-direction: column;

    align-content: flex-start;

    overflow: auto;

    padding-bottom: 1rem;

    vertical-align: baseline
}

  .xYI9nE68TXnRVPErO6TU .p3HNzw6gkt3wUJBHSvBO {

    display: flex;

    flex-direction: column
}

  .xYI9nE68TXnRVPErO6TU .p3HNzw6gkt3wUJBHSvBO .EjsqSWyxSFJLTy5Iax5X {

    font-size: 0.75rem;

    line-height: 1rem
}

  .xYI9nE68TXnRVPErO6TU .znCowIXOXGKaTwhxbRfr {

    display: flex;

    flex-direction: row;

    justify-content: flex-end
}

  .xYI9nE68TXnRVPErO6TU .znCowIXOXGKaTwhxbRfr .KRGO5balPb27m4X2f7K7 {

    padding-right: 1rem
}

