@reference "tailwindcss";
.wrapper {
  @apply flex h-full flex-1 flex-col items-center overflow-auto py-4 px-2 text-sm;
  & .toolbar {
    @apply mb-2 flex w-full justify-between;

    & .input {
      @apply w-[400px];
    }

    & .actions {
      @apply flex items-center;
      & .closeAll {
        @apply mr-1;
      }
    }
  }

  & .footer {
    @apply mt-4;
  }
}
