@reference "tailwindcss";
.base {
  @apply inline-flex h-6 items-center justify-center rounded border border-solid px-1;
}

.error {
  @apply border-red-300 bg-red-50 text-red-600;
}

.info {
  @apply border-green-300 bg-green-50 text-green-600;
}

.success {
  @apply border-blue-300 bg-blue-50 text-blue-600;
}
.warning {
  @apply border-yellow-300 bg-yellow-50 text-yellow-600;
}
