@reference "tailwindcss";
.container{
    @apply w-40 flex flex-col items-center justify-center flex-1;
    & .body{
        @apply flex gap-y-0.5 flex-col w-full;
        & .item{
            @apply flex;
            & .label{
                @apply flex basis-2/3 justify-end;
            }
            & .value{
                @apply flex basis-1/3 ml-1;
            }
        }
    }
}


