@reference "tailwindcss";
.wrapper {
  @apply flex h-full w-full flex-col items-center justify-items-center overflow-auto py-4 px-2 text-sm;
  & .toolbar {
    @apply mb-2 flex w-full justify-between;
    & .logBtn {
      display: none;
    }
    & .input {
      @apply w-96;
    }

    & .actions {
      @apply flex items-center;
      & .selector {
        @apply min-w-32 w-32;
      }
      & .clearBtn {
        @apply mx-1;
      }
    }
  }
  & .payload {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
