@reference "tailwindcss";
.wrapper {
  @apply flex
    w-full
    flex-1
    mt-1
    rounded
    border-solid
    border
    flex-col;

  & .data {
    @apply flex flex-row justify-between;

    &:not(:last-child) {
      @apply border-b;
    }

    & .info {
      @apply flex-1 py-1 flex;

      &:not(:last-child) {
        @apply border-r;
      }

      & .title {
        @apply flex items-center justify-center px-2;
      }
    }
  }
}
