@reference "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  @apply flex h-screen;
}

body {
  @apply rounded overflow-hidden;
}

input {
  outline: none;
  border: none;
}
