@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@reference "tailwindcss";

@layer theme, base, components, utilities;

* {
  box-sizing: border-box;
}

#app {
  @apply flex h-screen;
}

body {
  @apply rounded overflow-hidden m-0;
}

input {
  outline: none;
  border: none;
}
