.container {
  @apply flex;
}

.checkbox {
  @apply invisible
  h-0
  w-0;
}

.checkbox:checked + .label {
  @apply bg-blue-500;
  & .button {
    @apply left-full;
    transform: translateX(-100%);
  }
}

.label {
  @apply relative
  flex
  h-6
  w-12
  cursor-pointer
  justify-between
  rounded-2xl
  bg-gray-600;

  & .button {
    @apply absolute
    left-0
    top-0
    h-6
    w-6
    rounded-full
    bg-white
    shadow-md
    transition-all;
  }
}

.disabled {
  @apply pointer-events-none opacity-50;
}
