@reference "tailwindcss";
.title {
  @apply mb-4 text-lg font-medium;
}

.buttonContainer {
  @apply mt-6 flex justify-end;
  & .button {
    @apply my-2 mt-1 rounded;
    &:first-child {
      @apply mr-4;
    }
  }
}
