@reference "tailwindcss";
.search {
  @apply mb-2 mt-2 flex;

  & .input {
    @apply mr-2 w-full;
  }
}

.result {
  @apply flex h-8  items-center;

  & .title {
    @apply mr-4 flex items-center justify-center;
  }
}
